.salchi {
    border: 2px solid rgb(231, 109, 109);
    background-color: rgb(231, 109, 109);
    border-radius: 30px 30px ;

    margin: 1px 0px 0px 30px;
    padding: 10px;
    width: 55%;
}
.pan {
    border: 2px solid rgb(233, 225, 154);
    background-color:  rgb(233, 225, 154) ;
    border-radius: 30px 30px ;
    border-top-left-radius : 10px ;
    border-top-right-radius : 10px ;
    margin: 30px 0px 0px 50px;
    padding: 20px;
    width: 50%;
}
.pane {
    border: 2px solid rgb(233, 225, 154);
    background-color:  rgb(233, 225, 154) ;
    border-radius: 30px 30px ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 1px 0px 0px 50px;
    padding: 20px;
    width: 50%;
}